/* font-family:
        roboto
        open-sans */
/* -----------Global------- */

html, body{
    font-family: Roboto;
    font-weight: 700;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1,h2{
    text-transform: uppercase;
    font-family: Roboto;
    text-align: center;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------Navbar------ */
#mainNavbar .navbar-brand{
    color: #12E8F6;
    font-size: 1.5em;
    font-weight: 700;
}

#mainNavbar .nav-link{
    color: white;
    font-size: 2vw;
    transition: border 1s ease-out;
}

#mainNavbar .nav-link:hover{
    color: #ea1c2c;
    border: 5px solid orange;
    box-shadow: 1px 1px 5px orange;
}

.navbar.scrolled{
    background: #5d83d3;
    transition: background 1000ms;
}

/* -------Navbar-------- */

/* -------Side Bar------ */
.side-bar{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    width: 30px;
    box-sizing: border-box;
}

.side-icon{
    font-size: 1.2em;
}

.side-bar ul li a:hover{
    cursor: pointer;
    font-size: 2vw;
    color: red;
}
/* -------Side Bar------ */

/* ----cover page------*/
.cover-page{
    padding: 10vw;
    background-image: linear-gradient(rgba(4,9,30,0.1), rgba(4,9,30,0.7)), url(./img/cover.jpg);   
    background-position: center;
    background-size: cover;
}

.myself{
    text-transform: uppercase;
    font-size: 2em;
}

/* ---cover page-----*/
/* About me */
.about-me{
    background-image: url(./img/white-keyboard.jpg);
    background-size: cover;
    margin: 2vw;
    padding: 1vw;
}

#name{
    color: orange;
    transition: font-size 1s;
}

#name:hover{
    font-size: 1.5em;
}
.about-me-content{
    font-size: 2em;
}
/* About me */

/* text animation */
.typer{
    color: orange;
    font-size: 3vw;
}
/* text animation */

/* -----skills page----- */
#skills-header{
    padding: 0.5em;
    color: red;
    text-shadow: 5px 5px 5px indianred;
}

.icon{   
    flex-direction: column;
    width: 30%;
    border-radius: 50%;
    box-shadow: 5px 5px 6px red;
    padding: 1em;
}
.icon img{
    width: 20%;
}
/* -----skills page------- */

/* -----------Projects--------*/
 .Projects{
    margin: 3vw;
 }

 .Projects .project-header {
    padding: 0.5em;
    color: red;
    text-shadow: 5px 5px 5px indianred;
}

 .Projects .inner-projects{
    padding:0 12vw;
 }

video{
    width: 70vw;
}

.Projects .carousel-indicators button{
    background-color: red;
}
#blog-content{
    color: black;
    background-color: white;
}

.gitLink{
    font-size: 3em;
    color: red;
}

/* -------------Projects---------*/

/* Footer */
footer.footer{
    height: 100%;
    background: black;
    position: relative;
}

footer.footer .container h2{
    color: white;
}

footer.footer .follow-me div i{
    color: white;
    padding: 1rem;
    font-size: 2em;
}


footer.footer .rights h4 a{
    color: white;
}

/* Footer */

/* Media */
@media (max-width: 1000px){

    .cover-page{
        padding: 10em;
    }
    #mainNavbar .nav-link{
        font-size: 2em;
    }
    
    #mainNavbar .nav-link:hover{
        width: fit-content;
    }

    .typer{
        font-size: 1em;
    }

    .typed-text{
        font-size: 2em;
        max-height: 20px;
    }

    .about-me-content{
        font-size: 3vw;
    }
  
}

@media (max-width: 750px){
    #WebName{
        display: none;
    }
    .navbar-toggler{
        width: 2em;
    }    

    .typed-text{
        font-size: 2em;
        max-height: 20px;
    }
    .about-me-content{
        font-size: 5vw;
        width: fit-content;
    }
}


@media (max-width: 500px){
    .side-bar{
        bottom: 0;
    }
    #mainNavbar .nav-link{
        font-size: 2em;
    }
    
    #mainNavbar .nav-link:hover{
        width: fit-content;
    }

    .typer{
        font-size: 1em;
        margin: 4px;
    }
    .container-skills{
        text-transform: uppercase;
    }

    .about-me-content{
        font-size: 5vw;
        width: fit-content;
    }
    
    .typed-text{
        font-size: 0.5em;
        color: red;
        max-height: 50px;
    }

    .skills{
        width: fit-content;
    }
}


